<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZlizEQMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZlizEQMap.Properties.Settings>
            <setting name="EQDirectoryPath1" serializeAs="String">
                <value />
            </setting>
            <setting name="EQDirectoryPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="ZoneDataSet1" serializeAs="String">
                <value />
            </setting>
            <setting name="ZoneDataSet2" serializeAs="String">
                <value />
            </setting>
            <setting name="LogsInLogsDir1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LogsInLogsDir2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ActiveProfileIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CheckAutoSizeOnMapSwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckGroupByContinent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckEnableDirection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckEnableLegend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSelectedZone" serializeAs="String">
                <value>ecommons</value>
            </setting>
            <setting name="WikiRootURL" serializeAs="String">
                <value>http://wiki.project1999.com/</value>
            </setting>
            <setting name="OpacityLevel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LegendFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UseLegacyUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PopoutMapAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PopoutMapOpacityLevel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="NotesShow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NotesFont" serializeAs="String">
                <value>Tahoma, 8.25pt</value>
            </setting>
            <setting name="NotesColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="NotesClearAfterEntry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotesAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotesAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocHistoryShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocHistoryNumberToTrack" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ASDF" serializeAs="String">
                <value>3151</value>
            </setting>
        </ZlizEQMap.Properties.Settings>
    </userSettings>
</configuration>